[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
celery = "==4.4.2"
braintree = "*"
weasyprint = "==51"
django-rosetta = "==0.9.3"
whitenoise = "==5.1.0"

[dev-packages]

[requires]
python_version = "3.10"
